{% extends 'base.html' %}
{% block content%}
<!-- Update profile section -->
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <!-- Header -->
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Update Profile</h2>
                <p class="lead mb-0">Update your profile below</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10">
                    <form id="updateCustomerForm" method="POST" action="{% url 'update-customer' %}">
                        {% csrf_token %}
                        <!-- Form -->
                        {{ form.as_p }}
                        <!-- Buttons Wrapper -->
                        <div class="d-grid row">
                            <!-- Submit Button -->
                            <div class="col-12 col-md-4 mb-2">
                                <button class="btn btn-primary w-100" id="submitButton" type="submit">Update Profile</button>
                            </div>
                            <!-- Update address section -->
                            <div class="col-12 col-md-4 mb-2">
                                <a class="btn btn-primary w-100" href="{% url 'update-address' %}">Update Address</a>
                            </div>
                            <!-- Change password section -->
                            <div class="col-12 col-md-4 mb-2">
                                <a class="btn btn-primary w-100" href="{% url 'change-password' %}">Change Password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
