{% extends 'base.html' %}
{% block content%}
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <!-- Header -->
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Change Password</h2>
                <p class="lead mb-0">Change your password below</p>
            </div>
            <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <form id="changePasswordForm" method="POST" action="{% url 'change-password' %}">
                    {% csrf_token %}
                    <!-- Form -->
                    {{ form.as_p }}
                    <!-- Submit Button -->
                    <div class="d-grid"><button class="btn btn-secondary" id="submitButton" type="submit">Change Password</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
