{% extends 'base.html' %}
{% block content%}
<!-- Update profile section -->
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <!-- Header -->
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Update Profile</h2>
                <p class="lead mb-0">Update your profile below</p>
            </div>
            <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <form id="updateCustomerForm" method="POST" action="{% url 'update-customer' %}">
                    {% csrf_token %}
                    <!-- Form -->
                    {{ form.as_p }}
                    <!-- Submit Button -->
                    <div class="d-grid"><button class="btn btn-primary" id="submitButton" type="submit">Update Profile</button></div>
                </form>
                <br>
                <!-- Change password section -->
                <div class="d-grid"><a class="btn btn-primary" href="{% url 'change-password' %}">Change Password</a></div>
                <br>
                <!-- Update info section -->
                <div class="d-grid"><a class="btn btn-primary" href="{% url 'update-address' %}">Update Address</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
