<form hx-post="{% url 'store-order-item-create' %}"
    hx-trigger="click from:#create-order-button all">
    <div class="row">
        <div class="col-4 col-md-3">
            <label for="{{ form.item.id_for_label }}">{{ form.item.label }}</label>
            {{ form.item }}
        </div>
        <div class="col-4 col-md-3">
            <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
            {{ form.quantity }}
        </div>
        <div class="col-4 col-md-3 align-self-end">
            <button type="button" 
                class="btn btn-danger"
                hx-on="click: this.closest('form').remove()"
                >Remove Item</button>
        </div>
    </div>
</form>
