{% extends "main/template.html" %}
{% block title %}
    <title>143 Designs - Create Order</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Order</legend>
                {{ form|crispy }}
                <div id="order-items">
                    {{ order_items.management_form }}
                    {% for order_item_form in order_items %}
                        <div class="item">
                            {{ order_item_form|crispy }}
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="btn btn-success" id="add-order-item">Add Item</button>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create Order</button>
                <a class="btn btn-outline-secondary" href="{% url 'store-home' %}">No, Cancel</a>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var addOrderItemButton = document.getElementById("add-order-item");
            var orderItemsContainer = document.getElementById("order-items");
            var orderItemIndex = 0;

            addOrderItemButton.addEventListener("click", function() {
                var orderItemForm = "{{ order_items.empty_form|crispy|escapejs }}";
                orderItemForm = orderItemForm.replace(/__prefix__/g, orderItemIndex);
                orderItemsContainer.insertAdjacentHTML('beforeend', orderItemForm);
                orderItemIndex++;
            });
        });
    </script>
{% endblock content %}
