{% extends "main/template.html" %}
{% block title %}
    <title>143 Designs - Store Home</title>
{% endblock title %}
{% block content %}
    <h1 class="store-heading text-center">Store Home</h1>
    <div class="d-flex-column">
        <div class="d-flex">
            <div>
                <a class="btn btn-primary btn-sm btn-outline-primary p-1 mb-2 mt-1 ml-1" href="{% url 'store-order-create' %}">Create Order</a>
                <a class="btn btn-primary btn-sm btn-outline-primary p-1 mb-2 mt-1" href="{% url 'store-item-create' %}">Create Item</a>
                <select name="selected_item" id="item-select" class="btn btn-sm btn-primary form-select-lg ml-1 mt-1 mb-2">
                    {% for item in items %}
                        <option value="{{ item.pk }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                {% if items %}
                    <button id="item-update-btn" class="btn btn-secondary btn-sm ml-1 mt-1 mb-2 p-1" {% if not items %} disabled {% endif %}>Update Item</button>
                    {% if not item_has_orders %}
                        <button id="item-delete-btn" class="btn btn-danger btn-sm ml-1 mt-1 mb-2 p-1" {% if not items %} disabled {% endif %}>Delete Item</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="mt-1">
            <h2 class="order-heading text-center">Orders:</h2>
            {% if orders %} 
            <table class="table">
                <thead>
                    <tr>
                        <th class="order-table">Name</th>
                        <th class="order-table">Description</th>
                        <th class="order-table">Total</th>
                        <th class="order-table">Status</th>
                        <th class="order-table">Paid</th>
                        <th class="order-table">Order Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td><a href="{% url 'store-order-detail' order.pk %}" class="order-link order-table">{{ order.name }}</a></td>
                            <td><a href="{% url 'store-order-detail' order.pk %}" class="order-link order-table">{{ order.description }}</a></td>
                            <td><a href="{% url 'store-order-detail' order.pk %}" class="order-link order-table">{{ order.total }}</a></td>
                            <td><a href="{% url 'store-order-detail' order.pk %}" class="order-link order-table">{% if order.complete %}Complete{% else %}Incomplete{% endif %}</a></td>
                            <td><a href="{% url 'store-order-detail' order.pk %}" class="order-link order-table">{% if order.paid %}Yes{% else %}No{% endif %}</a></td>
                            <td class="order-items">
                                <a href="{% url 'store-order-detail' order.pk %}" class="order-link">
                                    {% if order.order_items.all %}
                                        {% for order_item in order.order_items.all %}
                                            <p class="order-item">Name: {{ order_item.item.name }} - Quantity: {{ order_item.quantity }}</li>
                                        {% endfor %}
                                    {% else %}
                                        <p class="no-items">No items for this order.</p>
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="no-orders">No orders available.</p>
            {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var itemSelect = document.getElementById("item-select");
            var updateBtn = document.getElementById("item-update-btn");
            var deleteBtn = document.getElementById("item-delete-btn");

            itemSelect.addEventListener("change", function() {
                if (itemSelect.value) {
                    updateBtn.disabled = false;
                    deleteBtn.disabled = false;
                } else {
                    updateBtn.disabled = true;
                    deleteBtn.disabled = true;
                }
            });

            updateBtn.addEventListener("click", function() {
                var selectedItemId = itemSelect.value;
                if (selectedItemId) {
                    window.location.href = `/store/item/${selectedItemId}/update/`;
                }
            });

            deleteBtn.addEventListener("click", function() {
                var selectedItemId = itemSelect.value;
                if (selectedItemId) {
                    window.location.href = `/store/item/${selectedItemId}/delete/`;
                }
            });
        });
    </script>
{% endblock content %}
