{% extends "main/template.html" %}
{% block title %}
    <title>143 Designs - Manage Reviews</title>
{% endblock title %}
{% block content %}
    <h1 class="text-center pb-2">Manage Reviews</h1>
    <div>
        <h3 class="text-primary text-center blue">All Reviews</h3>
        <table class="table d-flex justify-content-center">
            {% for review in reviews %}
                <tr>
                    <td><a href="{% url 'review-detail' review.id %}">{{ review.first_name }} {{ review.last_name }}</a> - {{ review.text }} - Rating: {{ review.rating }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
