{% extends 'base/base.html' %}
{% block title %}
<title>Customer Home</title>
{% endblock title %}
{% block content %}
<header class="bg-light py-5 mb-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder mb-2">143 Custom Designs Customer Home</h1>
                    <p class="text-primary mb-4">Here you can manage the site by managing current customers. Create a new customer using the Create Customer button or manage the current customers with the Edit and Delete buttons.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-1">Customer Home</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'admin' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Customer Home</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <i class="fas fa-table me-1"></i>
                    Admins
                </div>
                <div>
                    <a id="createCustomerNavigation" class="btn btn-success" href="{% url 'create-customer' %}">Create Admin</a>
                </div>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{ customer.first_name }}</td>
                                <td>{{ customer.last_name }}</td>
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.phone_number }}</td>
                                <td><a class="btn btn-info" href="#">Edit</a></td>
                                <td><a class="btn btn-danger" href="#">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
