{% extends "main/template.html" %}
{% block title %}
    <title>143 Designs - Create Order</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Order</legend>
                {{ form|crispy }}
                    <div id="order-item">
                        {% include 'store/order_item/form.html' %}
                    </div>
                <button type="button" 
                    class="btn btn-success" 
                    id="add-order-item" 
                    hx-get="{% url 'store-order-item-create' %}" 
                    hx-target="#order-item"
                    hx-swap="beforeend">
                        Add Item
                </button>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" 
                    type="submit"
                    id="create-order-button">
                        Create Order
                </button>
                <a class="btn btn-outline-secondary" 
                    href="{% url 'store-home' %}">
                        No, Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock content %}
