{% extends "main/template.html" %}
{% block title %}
    <title>143 Designs - Create Order</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" id="create-order-form" action="{% url 'store-order-create' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Order</legend>
                {{ form|crispy }}
                {{ items.management_form }}
                 <div id="order-item">
                    {% for form in items %}
                        <div class="row mb-3">
                            <div class="col-4 col-md-3">
                                <label for="{{ form.item.id_for_label }}">{{ form.item.label }}</label>
                                {{ form.item }}
                            </div>
                            <div class="col-4 col-md-3">
                                <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
                                {{ form.quantity }}
                            </div>
                            <div class="col-4 col-md-3 align-self-end">
                                <button type="button" 
                                    class="btn btn-danger"
                                    onclick="removeOrderItem(this)">
                                        Remove Item
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" 
                    class="btn btn-success" 
                    id="add-item-button">
                        Add Item
                </button>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" 
                    type="submit"
                    id="create-order-button">
                        Create Order
                </button>
                <a class="btn btn-outline-secondary" 
                    href="{% url 'store-home' %}">
                        No, Cancel
                </a>
            </div>
        </form>
    </div>
    <script>
        const totalItemForms = document.getElementById('id_form-TOTAL_FORMS')
        const currentItemForms = document.getElementsByClassName('item-form')
        
        document.getElementById('add-item-button').addEventListener('click', function() {
            var orderItemContainer = document.getElementById('order-item');
            var template = orderItemContainer.firstElementChild.cloneNode(true);
            template.querySelectorAll('input, select').forEach(function(field) {
                field.value = '';
            });
            orderItemContainer.appendChild(template);

        });

        function removeOrderItem(button) {
            var orderItemContainer = document.getElementById('order-item');
            var rowToRemove = button.closest('.row');
            if (orderItemContainer.childElementCount > 1) {
                orderItemContainer.removeChild(rowToRemove);
            }
        }
    </script>
{% endblock content %}
