{% extends "main/template.html" %}
{% block title %}
    <title>143 Designs - Order Detail - {{ order.name }}</title>
{% endblock title %}
{% block content %}
    <h1>Name: {{ order.name }}</h1>
    <p>Description: {{ order.description }}</p>
    <p>Total: {{ order.total }}</p>
    <p>Status: {% if order.complete %}Complete{% else %}Incomplete{% endif %}</p>
    <p>Paid: {% if order.paid %}Yes{% else %}No{% endif %}</p>
    <h2>Order Items: </h2>
    {% if order.order_items.all %}
        <ul>
            {% for order_item in order.order_items.all %}
                <li>{{ order_item.item.name }} - Quantity: {{ order_item.quantity }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No items for this order.</p>
    {% endif %}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'store-order-update' order.id %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'store-order-delete' order.id %}">Delete</a>
    <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'store-home' %}">Go Back</a>
{% endblock content %}
