{% extends 'base/base.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock title %}
{% block content %}
<header class="bg-light py-5 mb-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder mb-2">143 Custom Designs Admin Dashboard</h1>
                    <p class="text-primary mb-4">Here you can manage the site by managing: incoming messages, testimonials, purchases, orders, products, designs, store items, customers, and even new admin users.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="row d-flex justify-content-center align-items-center ml-3 mr-3">
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Messages</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all messages here. View all messages by clicking 'View Messages'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="{% url 'messages-home' %}" class="btn btn-secondary">View Messages</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Products</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all products here. View all product by clicking 'View Products'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="#" class="btn btn-secondary">View Products</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Designs</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all designs here. View all designs by clicking 'View Designs'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="#" class="btn btn-secondary">View Designs</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center ml-3 mr-3">
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Testimonials</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all testimonials here. Add a new testimonial by clicking 'Add Testimonial', or view all testimonials by clicking 'View Testimonials'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="#" class="btn btn-success mb-1">Add Testimonial</a>
                    <a href="#" class="btn btn-secondary">View Testimonials</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Purchases</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all purchases here. Add a new purchase by clicking 'Add Purchase', or view all purchases by clicking 'View Purchases'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="#" class="btn btn-success mb-1">Add Purchase</a>
                    <a href="#" class="btn btn-secondary">View Purchases</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Orders</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all orders here. Add a new order by clicking 'Add Order', or view all orders by clicking 'View Orders'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="#" class="btn btn-success mb-1">Add Order</a>
                    <a href="#" class="btn btn-secondary">View Orders</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Store Items</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all store items here. Add a new store item by clicking 'Add Item', or view all store items by clicking 'View Items'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="#" class="btn btn-success mb-1">Add Item</a>
                    <a href="#" class="btn btn-secondary">View Items</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Admins</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all admins here. Add a new admin by clicking 'Add Admin', or view all admins by clicking 'View Admins'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="#" class="btn btn-success mb-1">Add Admin</a>
                    <a href="#" class="btn btn-secondary">View Admins</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title">Customers</h5>
                        <p class="card-text ml-1" data-toggle="tooltip" data-placement="top" title="View and manage all customers here. Add a new customer by clicking 'Add Customer', or view all customers by clicking 'View Customers'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="#" class="btn btn-success mb-1">Add Customer</a>
                    <a href="#" class="btn btn-secondary">View Customers</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock content %}
